<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carosello News</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>Vue Slider</title>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="slider-wrapper">
          <div
            class="item"
            :class="currentSlider === index ? 'active' : ''"
            v-for="slide, index in slides"
          >
            <img :src="slide.image" v-bind:alt="slide.title" />
            <div class="text">
              <h3>{{slide.title}}</h3>
              <p>{{slide.text}}</p>
            </div>
          </div>

          <div
            class="thumbs"
            @mouseenter="hover = true"
            @mouseleave="hover = false"
            v-on:mouseenter="stopAutoPlay"
            v-on:mouseleave="autoPlay"
          >
            <div @click="showPrev" class="prev"></div>
            <div @click="showNext" class="next"></div>
            <div
              @click="showThumbImg(index)"
              v-for="thumbImg, index in slides"
              class="thumb"
              :class="currentSlider === index ? 'active' : ''"
            >
              <img :src="thumbImg.image" alt="Svezia" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/script.js"></script>
  </body>
</html>
